# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\6. Project Code\Dynamics\BarycentricParameters\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
